.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/A02_biodiversity.html
/receipt_MT5751Assignment2.pdf.pdf
Exploration/
/Data/Native_Woodland_Survey_of_Scotland_4228117159943345825/Native_Woodland_Survey_of_Scotland.shp
/Data/National_Forest_Inventory_Scotland_2022/National_Forest_Inventory_Scotland_2022.shp
/Data/NFI_Woodlands.shp